body {
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
svg {
    width: 30px;
    height: 30px;
    margin: 5px;
    fill: black;
}
header {
    text-align: right;
}
a {
    color: black;
    text-decoration: none;
}
.google-img {
    margin: 0 auto;
    text-align: center;
    margin-top: 3.5cm;
    margin-bottom: 1cm;
    width: 100%;
    position: relative;
}
.form{
    text-align: center;
}
.input-text-div {

    display: flex;
    border: 1px solid #d3d3d3;
    border-radius: 24px;
    height: 44px;
    max-width: 584px;
    margin: 0 auto;
    margin-bottom: 1cm;

}
.input-text-div > svg:not(.search-button) {
    fill: #d3d3d3;
    height: 20px;
    width: 20px;
    margin: auto 15px ;
}
.input-text-div:hover{
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
.input-search {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 41, 41);
    font-weight: 50;
    border: none;
    height: auto;
    min-width: 469px;
    font-size: 16px;
}
.input-search:focus {
    outline: none;
}

.sumbimt-google-form, .felling-lucky {
    height: 44px;
    width: 125px;
    margin: 0 8px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
    border: 1px solid #f8f9fa;
    border-radius: 6px;
    background-color: #f8f9fa;
}
input:not(.input-search, .input-field-words ):hover{
    background-color: white;
    border-color: #e4e6e7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
/* * image page  */
.search-button {
    fill: #4285F4;
    height: 20px;
    width: 20px;
    margin: auto 15px ;
}
.imag-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.google-img-images {
    color: #4285f4;
    font: 30px/30px roboto-regular, arial, sans-serif;
    position: absolute;
    right: 11.5cm;
    top: 3cm;
}
/* * advace page  */
.alert {
    padding: 30px 10px;
    color: rgb(208, 5, 5);
}
.advance-search-form {
    padding: 30px 10px;
}
.headings {
    display: flex;
    justify-content: space-between;
}
.headings > h4 {
    color: rgb(149, 149, 149);
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left {
    flex: 1;
    text-align: left;
}
.middle-input {
    flex: 1;
    align-items: center;
    outline: none;
    width: 50%; /* Added width property */
}
.middle-input input {
        font-size: 20px;
        width: 100%;
        border: 1px solid black;
        height: 100%;
      }

.left {
    flex: 1;
    align-items: left;
}
/* !!!!! this is just the style of the input don't care about it  */
.middle-input {
    height: 34px;
    width: 500px;
    height: 25px;
}
/* * styling the Submit button  */
.advance-search-submit {
    width: 100%;
    text-align: right;
}
#submit {
    font-weight: 500;
    font-size: 100;
    color: white;
    border: 1px solid rgb(69, 69, 235);
    border-radius: 3px;
    padding: 7px;
    background-color: #4285F4;
    width: auto;
    height: 30px;
    cursor: pointer;

}
#submit:hover {
    background-color: #4d90fe;
}
.form-advance {
    padding-right: 3cm;
}

