{% extends "layout.html" %}

<!-- title  -->
{% block title %}
    DECIMAL To BINARY
{% endblock %}


{% block main %}
    <main class="container-fluid">
        <div class="walo">
            <!-- palce holder for the names -->
            <h1>DECIMAL to BINARY converter</h1>
            <!-- palce holder for the names -->
            <div class="app">
                <div class="column">
                    <label for="input">
                        <!-- place holder of the name that will be inputed  -->
                        <span class="label-input">DECIMAL</span> 
                        <br>
                        <input type="text" id="dec-input">
                    </label>
                    <!-- the swap icon  -->

                    <!-- the swap icon  -->
                    <label for="output">
                        <!-- place holder of the name that will be inputed  -->
                        <span class="label-ouput">BIN</span>
                        <br>
                        <input type="text" id="bin-output">
                    </label>
                </div>
            </div>
        </div>
    </main>
{% endblock %}