<main class="container-fluid">
    <div class="walo">
        <!-- palce holder for the names -->
        <h1>REM to PX converter</h1>
        <!-- palce holder for the names -->
        <div class="app">
            <div class="column">
                <label for="input">
                    <!-- place holder of the name that will be inputed  -->
                    <span class="label-input">REM</span> 
                    <br>
                    <input type="text" id="input">
                </label>
                <!-- the swap icon  -->
                <button>
                    <svg width="16" height="16" fill="white" id="icon-swap" viewBox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><defs>
                        <path id="arrow-left" d=" M0 0 l 9 9 -2.4 2.4 -4.6 -4 0 25 -4 0 0 -25 -4.6 4 -2.4 -2.4 z " /> </defs> <use xlink:href="#arrow-left" transform="translate(32.5 9) rotate( 90)" /> <use xlink:href="#arrow-left" transform="translate(-0.5 23) rotate(-90)" /></g>
                    </svg>
                </button>
                <!-- the swap icon  -->
                <label for="output">
                    <!-- place holder of the name that will be inputed  -->
                    <span class="label-ouput">REM</span>
                    <br>
                    <input type="text" id="output">
                </label>
            </div>
        </div>
    </div>
</main>