{% extends "network/layout.html" %}

{% block body %}

<!-- * loading css file for login and registration -->
{% load static %}
    <link href="{% static 'network/styles/login-register.min.css' %}" rel="stylesheet">

<!-- * end loading  -->

    <div class="register-section">
        <div class="heading">
            <h1>Register</h1>
        </div>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <div class="submit-buton">
                <input class="btn btn-primary" type="submit" value="Register">
            </div>
        </form>

        <span>Already have an account? <a href="{% url 'login' %}">Log In here.</a></span>

    </div>
{% endblock %}