* {
    box-sizing: border-box;
}
textarea {
    min-height: 400px;
}
body {
    color: #fff;
    background-image: url('./images/fuji.jpg');
    background-repeat: repeat;
    background-size: cover;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bg-image-container {
    width: 100vw;
}
.bg-image-container > .container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.bg-image-container > .container .user-email {
    margin-bottom: 20px;
    text-align: center;
}
.bg-image-container > .container .header {
    text-align: center;
}
.bg-image-container > .container .header > button, 
.bg-image-container > .container .header > a {
    color: #fff;
    margin: 10px;
}
.btn{
    margin-right: 20px;
    margin-left: 20px;
}
hr {
    background-color: #fff;
}
.form-control:disabled, 
input:not(.btn), 
textarea {
    font-size: 20px !important;
    background-color: rgb(255 255 255 / .1) !important;
    color: #fff!important;
    outline: none;
}
input:not(.btn)::placeholder, textarea::placeholder {
    color: #fff!important;    
}
input:not(.btn):focus {
    background-color: rgb(255 255 255 / .1) !important;
}
textarea {
    margin-bottom: 20px;
}

/* styling the allert  */
.alert-success {
    display: none;
    color: #fff;
    background-color: rgb(255 255 255 / .1) !important;
    border-color: #dbdbdb;
}
/* Emails view */
#emails-view > div{
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
    padding: 15px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width : 516px) {
    #emails-view > div , 
    header {
        justify-content: center;
        align-items: center;
    }
}


